@import url("./green.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
textarea,
button {
  line-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
